@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: yellow;
  font-family: "PT Serif", serif;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}

h1 {
  margin: 0 auto; 
  width: fit-content; 
  text-align: center; 
}


h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  padding: .2em 0;
  text-align: center;
}

p {
  margin: 1.8em 0;
  line-height: 1.8em;

}

h2 {font-size:1.25em;}

header,
nav,
main,
aside,
footer {
  padding: 1.5em;
  border: 1px solid rgb(139, 35, 50);
}

header,
footer {
  text-align: center;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  background: rgb(13, 34, 64);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns:
   1fr       2fr       1fr;
  grid-template-areas:
  "heady     heady     heady"
  "navvy     navvy     navvy"
  "aside1    mainy     aside2"
  "aside1    mainy     aside2"
  "aside1    mainy     aside2"
  "footy     footy     footy";
} */

.center {
  display: grid;
  place-items: center;
}

/* .container {
  grid-template-rows: [row1-start] 25px [row1-end row2-start] 25px [row2-end];
  grid-template-columns: auto 50px auto;
  background: rgb(13, 34, 64);
  display: grid;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
 grid-template-areas:
  "heady     heady     heady"
  "navvy     navvy     navvy"
  "aside1    mainy     aside2"
  "aside1    mainy     aside2"
  "aside1    mainy     aside2"
  "footy     footy     footy";
} */

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "head head head"
    "nav  nav  nav"
    "aside1 main aside2"
    "foot foot foot";
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

header {grid-area: heady; background:rgb(13, 34, 64);}
nav {grid-area: navvy; background:rgb(249, 249, 249);;}
main {grid-area: mainy; background: rgb(13, 34, 64); max-height: 100%;}
#aside1 {grid-area: aside1; background: rgb(13, 34, 64);;}
#aside2 {grid-area: aside2; background: rgb(13, 34, 64);;}
footer {grid-area: footy; background: rgb(171, 171, 171);}

/* nav ul {
display: flex;
flex-flow: row nowrap;
justify-content: space-around;
} */

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0.5em;
}

/* nav ul li {
  list-style: none
} */

nav ul li a {
  text-decoration: none;
  color: rgb(40, 40, 40);
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 10px;
  transition: background 0.3s;
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.6);
}

@media screen
  and (min-width: 641px)
  and (max-width: 900px)  {
.container {
grid-template-columns:
   1fr 1fr;
grid-template-areas:
  "heady heady"
  "navvy navvy"
  "mainy mainy"
  "aside1 aside2"
  "footy footy";
}
}

@media screen
  and (max-width: 640px)  {
.container {
grid-template-columns:
   1fr;
grid-template-areas:
  "heady"
  "mainy"
  "aside1"
  "aside2"
  "navvy"
  "footy";
}
nav ul {
  flex-flow: column nowrap;
  text-align: center;
}
nav ul li a {
  display: block;
  padding: 10px 5px;
  margin: 5px;
  border: 1px black solid;
  background: white;

}
}

